{% extends "base.html" %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block title %}
	{{ super() }}
	 - Home
{% endblock %}

{% block body %}
	{{ super() }}

	<div class='container'>
	
		<div class='header'>
			<div class='title col-xs-12'>
				<h1>Twitter Poetry with MapReduce</h1>	
			</div>
			
			<div class='nav-links container'>
				<div class='col-sm-3'>
					<h3 class='nav-link' id='what-is-this'>
						What is this?
					</h3>
				</div>
				<div class='col-sm-3'>
					<h3 class='nav-link' id='how-it-works'>
						How it works
					</h3>
				</div>
				<div class='col-sm-3'>
					<h3 class='nav-link' id='example-poems'>
						Example poems
					</h3>
				</div>
				<div class='col-sm-3'>
					<h3 class='nav-link' id='create-poem'>
						Create your own poem
					</h3>
				</div>
			</div>
		</div> <!-- end header -->

		<div class='body-area col-xs-12'>

			<div id='what-is-this-content' class='body-area-content'>
				This is a toy project by <a href='http://www.davidabelman.co.uk'>David Abelman</a>, created in 2014. The algorithm pulls data from Twitter, passes it through 3 layers of MapReduce, and outputs a rhyming, half-sensical poem composed from tweets from around the world.

				<div class='sample-twitter-poem-container col-xs-12'>

						<blockquote class="twitter-tweet" lang="en" link=https://twitter.com/Jakeadelics/status/535110377810690049>
							<p>if i say &#34;you&#39;re pretty&#34; don&#39;t tell me &#34;no i&#39;m not&#34;</p>
							<twittername>&mdash; @Jakeadelics</twittername> 
							<twitterdate>November 19, 2014</twitterdate>
						</blockquote>
					
						<blockquote class="twitter-tweet" lang="en" link=https://twitter.com/darchwjack/status/533402122176712704>
							<p>i&#39;m not being sarcastic when i say you&#39;re hot.</p>
							<twittername>&mdash; @darchwjack</twittername> 
							<twitterdate>November 14, 2014</twitterdate>
						</blockquote>
					
						<blockquote class="twitter-tweet" lang="en" link=https://twitter.com/Shabilla_rahma/status/535808029355028481>
							<p>you say i dream too big and i say you think too small</p>
							<twittername>&mdash; @Shabilla_rahma</twittername> 
							<twitterdate>November 21, 2014</twitterdate>
						</blockquote>
					
						<blockquote class="twitter-tweet" lang="en" link=https://twitter.com/sharifahmirrah/status/535868441433886720>
							<p>hope when the moment comes you say... i, i did it all</p>
							<twittername>&mdash; @sharifahmirrah</twittername> 
							<twitterdate>November 21, 2014</twitterdate>
						</blockquote>
				
				</div>	
			</div>		

			<div id='how-it-works-content' class='body-area-content'>
				The following describes briefly how the poems are generated. See <a href='https://github.com/davidabelman/HadoopTwitterPoems'>the code</a>.
				<br>
				
				<div class='how-it-works-step'>
					<h3>Stage 1: Tweets collected from Twitter</h3>
					<p>
						The user enters a set of search terms (these can have and/or conditions, as well as words and phrases to exclude, etc.). A script is run to crawl Twitter according to these search terms. Tweets will be saved along with all metadata within one large text file.
					</p>
				</div>

				<div class='how-it-works-step'>
					<h3>Stage 2: MapReduce to select unique tweets</h3>
					<p>
						A set of mappers parse the text file, pulling out details such as tweet text, username, post date and tweet language, on a tweet by tweet basis. Each tweet is then passed through a filter to establish whether it is valid for further analysis. Factors considered here are whether the tweet is within a specified length range (number of words), whether the tweets starts with a certain specified word (optional), whether the tweet contains certain required terms, whether the tweet contains certain banned terms, and so on.
					</p>
					<p>
						The tweets that pass the filter are sorted by tweet content, and sent to a set of reducers. All tweets with identical text content will be grouped together. The reducers then run a 'minimum' function on the tweet date within this group, selecting the first tweet for any identical sets of tweets which contain the same content. Thus the first author of a tweet's content will be attributed with the tweet. The other duplicated instances of this tweet are not output from the reducer.
					</p>
				</div>

				<div class='how-it-works-step'>
					<h3>Stage 3: MapReduce to create groups of rhyming Tweets</h3>
					<p>
						The next mapper takes each unique tweet, and extracts the final word. A 'rhyme code' is looked up for this word, and output from the mapper along with the tweet. Two rhyming words should have the same rhyme code.
					</p>
					<p>
						The tweets are sorted by rhyme code and sent to the reducers, ensuring all rhyming lines are now grouped together. The reducers output 'sets' of rhyming tweets, all grouped by rhyme code.
					</p>
				</div>

				<div class='how-it-works-step'>
					<h3>Stage 4: MapReduce to calculate optimal rhyming couplets and order</h3>
					<p>
						Each 'set' of rhyming tweets is parsed by a final mapper. The mapper will loop through all combinations of tweet-pairs within this set, trying to find the optimum pair of rhyming tweets within the set. Certain conditions will filter out some pairs (for example if the last word is the same for both tweets in the pair, or if they have the same sound such as 'their' and 'there'). Providing the pair makes it through these conditions, the scansion is scored (CMU pronunciation dictionary allows us to analyse the stress and metre of the sentence), the semantic similarity of the lines is scored (using overlap of non-common words), and the overall number of words recognised as English is scored (to weight against typo-ridden tweets). These scores are combined for each tweet-pair, and the pairs are ranked by total score within the rhyme set. The top-scoring pair of tweets for each rhyme set is sent to the reducer, and will ultimately form a line in the output poem.
					</p>
					<p>
						The output pairs of tweets are sent to one final reducer, along with the score calculated for the pair. The tweets are sorted by score, thus the highest scoring pairs will appear first in the poem. The reducer outputs lines of the poem until either a low-threshold of score is reached (i.e. the scansion decreases to a less than satisfactory level) or a maximum number of output lines is reached (i.e. the poem is getting too long).
					</p>
				</div>
				
			</div>

			<div id='example-poems-content' class='body-area-content'>

					<p>Warning: content of poems is not my own, does not necessarily represent my opinion, and may contain offensive language.<br><br></p>
				
					<a class='poem' href='/poem/isayyousay'>I say you say</a>
					<a class='poem' href='/poem/chucknorris'>Chuck Norris</a>
					<a class='poem' href='/poem/younglove'>Young love</a>
					<a class='poem' href='/poem/myboyfriend'>My Boyfriend</a>
					<a class='poem' href='/poem/mygirlfriend'>My Girlfriend</a>
					<a class='poem' href='/poem/loveit'>Love it</a>
					<a class='poem' href='/poem/dogscats'>Cats and Dogs</a>
					<a class='poem' href='/poem/lovehate'>Love Hate</a>
					<a class='poem' href='/poem/sometimes6'>Sometimes 6</a>
					<a class='poem' href='/poem/sometimes7'>Sometimes 7</a>
					<a class='poem' href='/poem/sometimes8'>Sometimes 8</a>
					<a class='poem' href='/poem/sometimes9'>Sometimes 9</a>
					<a class='poem' href='/poem/sometimesexplicit'>Sometimes (explicit)</a>
					<a class='poem' href='/poem/heytwitter'>Hey Twitter</a>
					<a class='poem' href='/poem/maths'>Mathematics</a>
					<a class='poem' href='/poem/barackobama'>Barack Obama</a>
					<a class='poem' href='/poem/ifeellikelong'>I feel like</a>
					<a class='poem' href='/poem/lovelyday'>Lovely Day</a>
					<a class='poem' href='/poem/3syllables'>1 2 3</a>
					<a class='poem' href='/poem/miliband_cameron'>British politics today</a>
					<a class='poem' href='/poem/iwaslike'>I was like</a>					
					<a class='poem' href='/poem/specialrelationship'>A special relationship</a>
					<a class='poem' href='/poem/imsolonely'>I'm so lonely</a>
					<a class='poem' href='/poem/imsolonely2'>I'm so lonely (2)</a>
					<a class='poem' href='/poem/omg'>OMG.</a>
					<a class='poem' href='/poem/metapoetry'>Metapoetry</a>
					<a class='poem' href='/poem/shortandhairy'>Short & Hairy</a>
					<a class='poem' href='/poem/longandhairy'>Long & Hairy</a>
					<a class='poem' href='/poem/lastnight'>Last Night</a>
					<a class='poem' href='/poem/isayyousayi'>I say you say I</a>					
					<a class='poem' href='/poem/idontcare'>I don't care</a>
					<a class='poem' href='/poem/shakespeare'>Shakespeare</a>
					<a class='poem' href='/poem/mycat'>My cat</a>
					<a class='poem' href='/poem/iloveit'>I love it</a>
					<a class='poem' href='/poem/ihateit'>I hate it</a>
					<a class='poem' href='/poem/chocolate'>Chocolate</a>
					
					
				
			</div>

			<div id='create-poem-content' class='body-area-content'>
				Coming soon...
			</div>

		</div> <!-- end body area -->

	</div>  <!-- end container -->



{% endblock %}	



{% block scripts_bottom %}
	{{ super() }}
	<!-- Add any more page specific scripts here -->
	<script src="{{url_for('static', filename = 'js/poems.js', _external=True)}}"></script>
{% endblock %}



